#############################################
# BUILD ARTIFACTS — BACKEND & FRONTEND
#############################################
backend/target/
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

frontend/dist/
**/dist/
**/.angular/cache
**/node_modules/


#############################################
# ENV & SECRETS
#############################################
.env
**/.env

#############################################
# GIT
#############################################
.git
.gitignore


#############################################
# LOGS & TEMP FILES
#############################################
*.log
.log
tmp/
npm-debug.log
yarn-error.log


#############################################
# DOCS
#############################################
*.md


#############################################
# MAVEN WRAPPER
#############################################
backend/.mvn/*
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/.mvn/wrapper/maven-wrapper.properties

!mvnw
!mvnw.cmd
