#############################################
# BACKEND — SPRING BOOT
#############################################
backend/HELP.md
backend/target/
backend/logs/
backend/.env
backend/.env.docker

# Liquibase (keep config)
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/liquibase.properties


#############################################
# MAVEN
#############################################
target/
!**/src/main/**/target/
!**/src/test/**/target/

backend/.mvn/*
!backend/.mvn/wrapper/maven-wrapper.properties


#############################################
# IDE: IntelliJ / Eclipse / STS
#############################################
.idea/
*.iml
*.ipr
*.iws

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache


#############################################
# VS CODE
#############################################
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#############################################
# FRONTEND — ANGULAR
#############################################
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/node_modules/
frontend/.angular/cache

# Node logs
npm-debug.log
yarn-error.log


#############################################
# OTHER BUILD SYSTEMS
#############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


#############################################
# MISC
#############################################
.sass-cache/
.connect.lock
coverage/
libpeerconnection.log
testem.log
typings/


#############################################
# SYSTEM FILES
#############################################
.DS_Store
Thumbs.db
