services:
  postgres:
    image: postgres:16
    container_name: gridpulse-postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

  backend:
    build: ./backend
    image: gridpulse-backend
    container_name: gridpulse-backend
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - backend/.env.docker
    ports:
      - "8080:8080"
    networks:
      - backend-net
    restart: unless-stopped

  frontend:
    build: ./frontend
    image: gridpulse-frontend
    container_name: gridpulse-frontend
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_started

    networks:
      - backend-net

volumes: # Volumes are persistent storage for containers
  pgdata:

networks:
  backend-net: # name of the network the containers will be able to communicate with each other within
    driver: bridge
