.snackbar-error {
    background-color: #d32f2f; // red
    color: #fff;
}

.snackbar-success {
    background-color: #2e7d32; // green
    color: #fff;
}

.snackbar-info {
    background-color: #1976d2; // blue
    color: #fff;
}
