<mat-nav-list>
    <a mat-list-item routerLink="/" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </a>

    <a mat-list-item routerLink="/devices" routerLinkActive="active-link" >
        <mat-icon>devices</mat-icon>
        <span>Devices</span>
    </a>

    <a mat-list-item routerLink="/fleets" routerLinkActive="active-link">
        <mat-icon>device_hub</mat-icon>
        <span>Fleets</span>
    </a>

    <a mat-list-item routerLink="/messages" routerLinkActive="active-link">
        <mat-icon>notification_important</mat-icon>
        <span>Alerts</span>
    </a>

    <a mat-list-item routerLink="/analytics" routerLinkActive="active-link">
        <mat-icon>analytics</mat-icon>
        <span>Analytics</span>
    </a>
@if (userRole === 'ADMIN') {
    <a mat-list-item routerLink="/settings" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
}
</mat-nav-list>