<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 max-w-7xl mx-auto">
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="grid md:grid-cols-2 gap-6">
                <div class="flex flex-col space-y-4 p-4">
                    <img src= "logo.svg" alt="Logo" height="48" width="48"
                        class="inline" />
                    <h1 class="text-3xl">Sign in</h1>
                    <p>to continue to Application</p>
                </div>

                <div class="flex flex-col space-y-2 p-4 md:mt-12">
                    <!-- EMAIL -->
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" />

                        <mat-error *ngIf="
                (email?.touched || email?.dirty) &&
                email?.hasError('required')
              ">
                            <mat-icon class="form-field-error-icon">error</mat-icon>
                            Email is required
                        </mat-error>

                        <mat-error *ngIf="
                (email?.touched || email?.dirty) &&
                email?.hasError('email')
              ">
                            <mat-icon class="form-field-error-icon">error</mat-icon>
                            Email is invalid
                        </mat-error>
                    </mat-form-field>

                    <!-- PASSWORD -->
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" />

                        <mat-error *ngIf="
                (password?.touched || password?.dirty) &&
                password?.hasError('required')
              ">
                            <mat-icon class="form-field-error-icon">error</mat-icon>
                            Password is required
                        </mat-error>

                        <mat-error *ngIf="
                (password?.touched || password?.dirty) &&
                password?.hasError('minlength')
              ">
                            <mat-icon class="form-field-error-icon">error</mat-icon>
                            Password must be at least 8 characters
                        </mat-error>
                    </mat-form-field>

                    <div class="density-3 forgot-email-container">
                        <a mat-button>Forgot password?</a>
                    </div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <a mat-button>Create account</a>
            <button mat-flat-button type="submit">Sign in</button>
        </mat-card-actions>
    </mat-card>
</form>