/* Global styles entry point */
@use 'tailwindcss';
@use './styles/index.scss';

/* Global resets */
html, body { height: 100%;}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}