server:
  port: ${PORT:8080}

spring:
  main:
    banner-mode: "off"
  application:
    name: GridPulse


  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true

management:
  server:
    port: ${PORT:8080}

  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - gridpulse # Endpoint custom GridPulse

      base-path: /actuator

  endpoint:
    health:
      show-details: when-authorized  # Show details only to authenticated users
      probes:
        enabled: true

logging:
  level:
    root: INFO
    org.springframework.security: WARN
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
    com.youssef.gridpulse: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"