name: GridPulse Docker Build & Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  docker:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: Step 0 - Checkout Repository
        uses: actions/checkout@v6

      - name: Step 1 - Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Step 2 - Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Step 3 - Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Step 4 - Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./backend
          file: ./backend/Dockerfile
          tags: ammysf/gridpulse-cloud-backend:v1.0.0
