name: GridPulse Docker Build & Release

on:
  push:
    branches: [ "master", "development" ]
    paths:
      - "frontend/**"
      - "backend/**"
      - ".github/workflows/ci-frontend.yml"
      - ".github/workflows/ci-backend.yml"
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ "master", "development" ]
    paths:
      - "frontend/**"
      - "backend/**"
      - ".github/workflows/ci-frontend.yml"
      - ".github/workflows/ci-backend.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:

  # ================================
  #     BACKEND DOCKER BUILD
  # ================================
  backend:
    name: Backend Docker Build & Push
    runs-on: ubuntu-latest

    steps:
      - name: Step 0 - Checkout Repository
        uses: actions/checkout@v6

      - name: Step 1 - Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Step 2 - Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Step 3 - Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Step 4 - Build & Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ammysf/gridpulse-backend:latest
            ammysf/gridpulse-backend:${{ github.sha }}
          cache-from: type=registry,ref=ammysf/gridpulse-backend:cache
          cache-to: type=registry,ref=ammysf/gridpulse-backend:cache,mode=max,inline=true

  # ================================
  #     FRONTEND DOCKER BUILD
  # ================================
  frontend:
    name: Frontend Docker Build & Push
    runs-on: ubuntu-latest
    needs: backend     # optional; if you want parallel execution remove this line

    steps:
      - name: Step 0 - Checkout Repository
        uses: actions/checkout@v6

      - name: Step 1 - Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Step 2 - Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Step 3 - Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Step 4 - Build & Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ammysf/gridpulse-frontend:latest
            ammysf/gridpulse-frontend:${{ github.sha }}
          cache-from: type=registry,ref=ammysf/gridpulse-frontend:cache
          cache-to: type=registry,ref=ammysf/gridpulse-frontend:cache,mode=max,inline=true
